body {
    font-family: Arial;
    text-align: center;
}
.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    background: #f9f9f9;
}
img {
    border-radius: 5px;
}
